<%-include("partials/head")%>
<title>Record</title>
<link rel="stylesheet"  href="/css/home.css">
</head>
<body>
    <%-include("partials/nav")%>
    <%if(success&&success.length){%>
        <div id="success-flash">
           <% if(currentUser){ %>
            <p id="success-flash-message"> <%=success%></p>
            <% } else { %>
                <p id="success-flash-message"> <%=success%></p>
                <% } %>
           <span class="material-symbols-outlined" id="flash-close">
            close
           </span>
        </div>
        <%}%>
    <div id="community-banner"></div>
    <div id="community-profile"></div>
    <div id="community-header">
        <h2 id="community-header-name"><%=Currentcommunity.communityname %></h2>
        <button id="community-inclusive-status">Joined</button>
        <div id="community-online-numbers">
            <p>Members : <span class="gradient-font">0</span></p>
            <hr>
            <p>Online : <span class="gradient-font">0</span></p>
        </div>
    </div>
    <div id="create-a-post">

    </div>
    <div id="community-readme">
        <div id="community-page-about-div">
            <h2 id="community-page-about" class="gradient-font">About</h2>
            <p id = community-description><%=Currentcommunity.communitydescription%></p>
        </div>
        <h3 id="readme-date"> Created on:<%=Currentcommunity.date%></h3>
        <div id="readme-moderators-div">
            <h2 id="readme-moderators" class="gradient-font">Moderators</h2>
        </div>
    </div>
    <script src="/js/communityPage.js"></script>
</body>
</html>