<%-include("partials/head")%>
<title>Record</title>
<link rel="stylesheet"  href="css/home.css">
</head>
<body>
    <nav id="header">
        <% if(!currentUser){ %>
            <a href="/login"><button class="login">Login</button></a> 
            <% }else {%>
                <details>
                    <summary id="nav-profile"><%=currentUser.username %></summary>
                    <details-menu role="menu">
                     <div id="nav-drop-down">
                        <a href="/logout"><button class="login" id="logout">Logout</button></a>
                     </div>
                    </details-menu>
                  </details>
                 <% } %>
        <a href="/"><h1><span class="websitenamefirstletter">R</span>ecord</h1></a>
    </nav>
    <%if(success&&success.length){%>
        <div id="success-flash">
           <% if(currentUser){ %>
            <p id="success-flash-message"> <%=success%><%=currentUser.username%>!</p>
            <% } else { %>
                <p id="success-flash-message"> <%=success%></p>
                <% } %>
           <span class="material-symbols-outlined" id="flash-close">
            close
           </span>
        </div>
        <%}%>
       <div id="search-container">
        <form action="/" method="get">
            <input type="text" name="search" placeholder="Search..." id="home-search">
            <span class="material-symbols-outlined" id="search-icon">
                search
                </span>
          </form>
       </div>
       <a href="communityCreate"> <button id="community-create"><span class="material-symbols-outlined" id="add-community">
        add
        </span>Create Community</button></a>
     <div id="community-container">
        <div id="user-communities">
            <h5 class="home-h5-community">Your communities</h5>
        </div>
        <div id="user-recently-viewed">
            <h5 class="home-h5-community">Recently viewed</h5>
        </div>
     </div>
     <div id="post-container">
     </div>
     <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
<lottie-player class="loading-animation" id="loading-animation" src="https://assets7.lottiefiles.com/packages/lf20_hppwydw1.json"  background="transparent" 
 speed="1"  style="width: 500px; height: 100px;"  loop  autoplay></lottie-player>
    <script src="js/home.js"></script>
</body>
</html>
